
/*.add-control .radio{*/
/*    display: none;*/
/*}*/
/* button control */
/*.add-control #close:checked ~ .btn-close {*/
/*    display: none;*/
/*}*/
/*.add-control #close:checked ~ .btn-open {*/
/*    display: table;*/
/*}*/
/*.add-control #open:checked ~ .btn-close {*/
/*    display: table;*/
/*}*/
/*.add-control #open:checked ~ .btn-open {*/
/*    display: none;*/
/*}*/
/* content control */
/*.add-control #close:checked ~ .box {*/
/*    display: none;*/
/*}*/
/*.add-control #open:checked ~ .box {*/
/*    display: block;*/
/*}*/






.ac-box{
width: auto;
margin: 30px auto 5px;
}

.ac-box label{
max-width: 385px;
font-size: 16px;
font-weight: bold;
text-align: center;
background: black;
border-radius: 50%;
margin: auto;
line-height: 50px;
position: relative;
display: block;
height: 50px;
border-radius: 8px;
cursor: pointer;
color: #fff;
transition: all 0.5s;
}

.ac-box label:hover{
/*background: rgba( 240, 86, 137, 0.55 );*/
-webkit-transition: all .3s;
transition: all .3s;
}

.ac-box input{
display: none;
}

.ac-box label:after{
color: #fff;
font-family:"FontAwesome";
content:" \f078";
}

.ac-box input:checked ~ label::after {
color: #fff;
font-family:"FontAwesome";
content:" \f077";
}

.ac-box div{
height: 0px;
padding: 0px;
overflow: hidden;
opacity: 0;
transition: 0.5s;
}

.ac-box input:checked ~ div{
height: auto;
padding: 5px;
background: #eaeaea;
opacity: 1;
}

.ac-box div p{
color: #777;
line-height: 23px;
font-size: 14px;
padding: 20px;
text-align: justify;
}
.ac-small p{
margin-bottom: 0px;
}