/* radio non-display */
.add-control .radio{
    display: none;
}
/* button control */
.add-control #close:checked ~ .btn-close {
    display: none;
}
.add-control #close:checked ~ .btn-open {
    display: table;
}
.add-control #open:checked ~ .btn-close {
    display: table;
}
.add-control #open:checked ~ .btn-open {
    display: none;
}
/* content control */
.add-control #close:checked ~ .box {
    display: none;
}
.add-control #open:checked ~ .box {
    display: block;
}